In [1]:
import pandas as pd
import seaborn as sns
import os

In [2]:
file_path = 'dataset/EmploymentByIndustry.xls'  # accessing the dataset
sheet_name = 'People'  # required sheet to access

# adding the header present on the 5th row at the top
empIndf=pd.read_excel(file_path,sheet_name=sheet_name,header=5)

empIndf

,Unnamed: 0,All in employment2,Public sector3,Private sector,"Agriculture, forestry & fishing","Mining, energy and water supply",Manufacturing,Construction,"Wholesale, retail & repair of motor vehicles",Transport & storage,Accommod-ation & food services,Information & communication,Financial & insurance activities,Real estate activities,"Professional, scientific & technical activities",Administrative & support services,Public admin & defence; social security,Education,Human health & social work activities,Other services
0,NaN,NaN,NaN,NaN,A,"B, D, E",C,F,G,H,I,J,K,L,M,N,O,P,Q,"R, S, T"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Jan-Mar 1995,25517135.0,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
4,Apr-Jun 1995,25711242.0,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,3 In the LFS the distinction between public an...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,4 Data from January to March 2019 onward has b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,[r] Data revised due to reweighting exercise,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,Note: As the estimates are not seasonally adju...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
empIndf=empIndf.dropna()
empIndf

,Unnamed: 0,All in employment2,Public sector3,Private sector,"Agriculture, forestry & fishing","Mining, energy and water supply",Manufacturing,Construction,"Wholesale, retail & repair of motor vehicles",Transport & storage,Accommod-ation & food services,Information & communication,Financial & insurance activities,Real estate activities,"Professional, scientific & technical activities",Administrative & support services,Public admin & defence; social security,Education,Human health & social work activities,Other services
3,Jan-Mar 1995,25517135.0,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
4,Apr-Jun 1995,25711242.0,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
5,Jul-Sep 1995,25997858.0,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
6,Oct-Dec 1995,26031123.0,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
7,Jan-Mar 1996,25826317.0,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,Oct-Dec 2023 [r],33412059.0,7796730,25494769,322979,552384,2704470,2148220,3568392,1548761,1648261,1659414,1477316,412916,2950512,1553598,2617930,3457723,4774263,1872895
119,Jan-Mar 2024 [r],33334245.0,7814067,25403453,308347,591086,2729067,2099623,3384859,1627901,1523162,1656955,1558969,444890,2990486,1500585,2550350,3482177,4836671,1880223
120,Apr-Jun 2024 [r],33416689.0,7889121,25395651,280561,555913,2737737,2067344,3500518,1626756,1652182,1652897,1485445,394770,2875940,1524163,2552622,3538100,4932070,1879034
121,Jul-Sep 2024 [r],33804351.0,7985745,25710091,292750,567268,2750773,2088302,3602464,1607986,1781062,1665279,1418715,392484,2860395,1486454,2666321,3597517,5027706,1839912
122,Oct-Dec 2024,33895676.0,7828378,25943311,285938,562626,2710351,2139891,3674863,1703880,1853737,1666355,1433070,390607,3025305,1445119,2701742,3511298,4791767,1813574

__Final Data preparation for the Job Opporutnities based on the different category__

In [4]:
empIndf=empIndf.iloc[20:]
empIndf = empIndf.reset_index(drop=True)
empIndf
# cleaned dataset acquired
# renaming the column
empIndf=empIndf.rename(columns={'Unnamed: 0':'Date'})

directory='CleanedData/'
filepath=os.path.join(directory,'JobOpportunities.csv')
if not os.path.exists(directory):
    os.makedirs(directory)

empIndf.to_csv(filepath,index=False)
empIndf

,Date,All in employment2,Public sector3,Private sector,"Agriculture, forestry & fishing","Mining, energy and water supply",Manufacturing,Construction,"Wholesale, retail & repair of motor vehicles",Transport & storage,Accommod-ation & food services,Information & communication,Financial & insurance activities,Real estate activities,"Professional, scientific & technical activities",Administrative & support services,Public admin & defence; social security,Education,Human health & social work activities,Other services
0,Jan-Mar 2000,27238589.0,6213060,20906650,322586.437877,386422.4966,4098528.11561,2013246.917723,4106346.694387,1472489.568075,1201637.143204,969816.299272,1198484.984126,191748.234626,1642054.533207,1233826.885684,1610160.285827,2373448.719552,2948574.821328,1376251.862903
1,Apr-Jun 2000,27399081.0,6254441,21024433,335096.772412,404792.009136,4065732.687718,2051315.235673,4082017.053675,1474894.700176,1226862.573271,994833.300983,1193646.698208,190424.907257,1650649.064526,1236552.297401,1644849.216222,2349189.040546,2994336.459301,1406262.983495
2,Jul-Sep 2000,27684753.0,6253815,21301042,336747.189022,401770.85456,4062341.977684,2074905.201968,4091211.957228,1533157.397998,1277855.393558,1031614.939322,1239905.521444,195891.050531,1663715.304638,1287974.891159,1684839.983464,2288803.157923,3029762.684283,1400508.49522
3,Oct-Dec 2000,27610751.0,6366400,21121888,326104.978301,399943.567334,4001272.264362,2061505.323076,4087316.771614,1545274.848844,1239649.600434,1055549.553808,1249977.785399,208182.190003,1621903.170038,1259987.334504,1720813.468125,2371022.082502,2999702.619576,1373568.44208
4,Jan-Mar 2001,27504980.0,6385990,20992571,304342.462752,417090.036235,3948901.440732,2046432.525682,4070768.063769,1508600.799718,1208155.220776,1071391.068296,1227509.664811,210724.835085,1652399.708216,1264689.278519,1739674.450825,2372296.042436,3022592.893533,1338066.508614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Oct-Dec 2023 [r],33412059.0,7796730,25494769,322979,552384,2704470,2148220,3568392,1548761,1648261,1659414,1477316,412916,2950512,1553598,2617930,3457723,4774263,1872895
96,Jan-Mar 2024 [r],33334245.0,7814067,25403453,308347,591086,2729067,2099623,3384859,1627901,1523162,1656955,1558969,444890,2990486,1500585,2550350,3482177,4836671,1880223
97,Apr-Jun 2024 [r],33416689.0,7889121,25395651,280561,555913,2737737,2067344,3500518,1626756,1652182,1652897,1485445,394770,2875940,1524163,2552622,3538100,4932070,1879034
98,Jul-Sep 2024 [r],33804351.0,7985745,25710091,292750,567268,2750773,2088302,3602464,1607986,1781062,1665279,1418715,392484,2860395,1486454,2666321,3597517,5027706,1839912
99,Oct-Dec 2024,33895676.0,7828378,25943311,285938,562626,2710351,2139891,3674863,1703880,1853737,1666355,1433070,390607,3025305,1445119,2701742,3511298,4791767,1813574

In [13]:
empIndf.columns

Index(['Date', 'All in employment2', 'Public sector3', 'Private sector',
       'Agriculture, forestry & fishing', 'Mining, energy and water supply',
       'Manufacturing', 'Construction',
       'Wholesale, retail & repair of motor vehicles', 'Transport & storage',
       'Accommod-ation & food services', 'Information & communication',
       'Financial & insurance activities', 'Real estate activities',
       'Professional, scientific & technical activities',
       'Administrative & support services',
       'Public admin & defence; social security', 'Education',
       'Human health & social work activities', 'Other services'],
      dtype='object')

## Job Adverts in UK from 2017 to 2022

In [5]:
jobadverts_df=pd.read_excel('dataset/EmploymentInUKFrom-2017-2022.xlsx',sheet_name='Table 7',header=4)
jobadverts_df

,Country,Summary Profession Category,Detailed Profession Category,Jan 17,Feb 17,Mar 17,Apr 17,May 17,Jun 17,Jul 17,...,Jan 22,Feb 22,Mar 22,Apr 22,May 22,Jun 22,Jul 22,Aug 22,Sep 22,Oct 22
0,England,Administration and Customer Service,Administration and Customer Service (other),1280,1350,1310,1110,1020,1125,1100,...,2410,2205,1895,1900,1985,1775,1725,1700,1650,1395
1,England,Administration and Customer Service,Administrative Personnel,15175,15365,14870,12355,10680,11005,11005,...,31835,27690,21970,22625,23285,20010,18785,18715,18545,15435
2,England,Administration and Customer Service,Customer Service Personnel,29700,28245,27330,23655,21275,22405,22815,...,39375,34655,28980,29555,31050,26015,23335,23615,23620,19430
3,England,Administration and Customer Service,Financial-administrative Personnel,12560,12505,11925,10545,9400,10315,10610,...,23810,21300,17390,17505,18375,16820,16000,16365,15600,12835
4,England,Administration and Customer Service,Heads of Administration and Customer Services,32705,32675,31795,27050,23710,24320,24055,...,36785,32260,26845,27620,28605,24695,23080,23000,22440,18745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1754,Wales,Transport and Traffic,Public and Private Chauffeurs/drivers,90,90,90,85,85,95,95,...,300,280,205,195,195,185,195,200,210,190
1755,Wales,Transport and Traffic,Sea Captains and Mates,5,5,5,5,5,5,5,...,40,35,35,30,30,30,25,25,25,20
1756,Wales,Transport and Traffic,Service Leaders and Coordinators,5,10,10,5,5,5,10,...,15,15,10,10,10,10,10,10,15,10
1757,Wales,Transport and Traffic,Train Drivers and Conductors,35,35,30,35,35,30,35,...,50,45,45,45,50,45,40,40,30,25
1758,Wales,Transport and Traffic,Transport and Traffic (other),[X],[X],[X],[X],[X],[X],[X],...,5,5,5,[X],[X],5,5,5,5,5

In [6]:
jobadverts_df['Summary Profession Category'].unique()

array(['Administration and Customer Service',
       'Agriculture, Livestock and Fishing', 'Arts, Culture and Media',
       'Cleaning and Maintenance',
       'Communication, Marketing and Public Relations',
       'Construction and Mining', 'Defence', 'Education and Training',
       'Engineering', 'Healthcare', 'Hospitality',
       'Information and Communication Technology',
       'Installation, Repair and Maintenance', 'Insurance and Finance',
       'Legal, Human Resources and Social Services',
       'Leisure, Sports and Tourism', 'Management, Policy and Governance',
       'Natural and Environmental Sciences', 'Other', 'Personal Services',
       'Police, Fire Department and Security',
       'Procurement and Warehouse Management', 'Production',
       'Sales and Trading', 'Transport and Traffic'], dtype=object)

In [7]:
jobadverts_df = jobadverts_df.melt(id_vars=["Country", "Summary Profession Category", "Detailed Profession Category"], 
                                         var_name="Month", value_name="JobAdverts")
# melting the month column to make it appear as row
# value_name creating the new column to add its respective value of melted column
jobadverts_df

,Country,Summary Profession Category,Detailed Profession Category,Month,JobAdverts
0,England,Administration and Customer Service,Administration and Customer Service (other),Jan 17,1280
1,England,Administration and Customer Service,Administrative Personnel,Jan 17,15175
2,England,Administration and Customer Service,Customer Service Personnel,Jan 17,29700
3,England,Administration and Customer Service,Financial-administrative Personnel,Jan 17,12560
4,England,Administration and Customer Service,Heads of Administration and Customer Services,Jan 17,32705
...,...,...,...,...,...
123125,Wales,Transport and Traffic,Public and Private Chauffeurs/drivers,Oct 22,190
123126,Wales,Transport and Traffic,Sea Captains and Mates,Oct 22,20
123127,Wales,Transport and Traffic,Service Leaders and Coordinators,Oct 22,10
123128,Wales,Transport and Traffic,Train Drivers and Conductors,Oct 22,25
123129,Wales,Transport and Traffic,Transport and Traffic (other),Oct 22,5

__Final dataset prepared for Job Adverts accross country in UK from 2017 to 2022__

In [ ]:


jobadverts_df=jobadverts_df[['Month','Country','Summary Profession Category','Detailed Profession Category','JobAdverts']]

# saving the cleaned file into the directory
directory='CleanedData/'
filepath=os.path.join(directory,'JobMarketCountrywise.csv')
if not os.path.exists(directory):
    os.makedirs(directory)

jobadverts_df.to_csv(filepath,index=False)
jobadverts_df

,Month,Country,Summary Profession Category,Detailed Profession Category,JobAdverts
0,Jan 17,England,Administration and Customer Service,Administration and Customer Service (other),1280
1,Jan 17,England,Administration and Customer Service,Administrative Personnel,15175
2,Jan 17,England,Administration and Customer Service,Customer Service Personnel,29700
3,Jan 17,England,Administration and Customer Service,Financial-administrative Personnel,12560
4,Jan 17,England,Administration and Customer Service,Heads of Administration and Customer Services,32705
...,...,...,...,...,...
123125,Oct 22,Wales,Transport and Traffic,Public and Private Chauffeurs/drivers,190
123126,Oct 22,Wales,Transport and Traffic,Sea Captains and Mates,20
123127,Oct 22,Wales,Transport and Traffic,Service Leaders and Coordinators,10
123128,Oct 22,Wales,Transport and Traffic,Train Drivers and Conductors,25
123129,Oct 22,Wales,Transport and Traffic,Transport and Traffic (other),5

## Dataset of the Job market after Covid-19
E.g. value like 120.6 means 20.6% more job adverts than feb 2020
 
 value like 188.2 means 188.2% more job adverts than feb 2020

 __OR__

 120.6 means 12,060 job adverts

 188.2 means 18,820 job adverts

In [9]:
JobCategory_df=pd.read_excel('dataset/DifferentJobCategories.xlsx',sheet_name='Adverts by category Feb 2020',header=6)

JobCategory_df

,Date,All industries,Accounting / Finance,Admin / clerical / secretarial,Catering and hospitality,Charity / voluntary,Construction / trades,Creative / design / arts & media,Customer service / support,Domestic help,...,Part-time / weekend,Property,Wholesale and retail,Sales,Scientific / QA,Transport / logistics / warehouse,Travel / tourism,Unknown,Healthcare and Social care,Notes
0,2018-02-07,120.6,118.8,135.0,78.1,308.3,130.5,132.5,117.4,34.5,...,115.6,191.5,124.7,71.5,149.8,98.8,67.1,6187.6,111.5,NaN
1,2018-02-15,122.9,124.9,139.3,75.5,291.3,129.2,129.9,123.3,34.3,...,118.8,198.4,129.9,72.4,146.1,102.6,68.5,6002.1,115.1,NaN
2,2018-02-22,121.3,122.8,137.1,76.0,308.6,127.6,127.4,123.5,33.7,...,110.9,191.0,127.1,72.0,146.4,99.9,75.2,6232.0,112.7,NaN
3,2018-03-01,121.5,117.1,133.4,79.9,321.1,127.0,132.0,119.6,33.5,...,117.4,186.8,121.2,69.4,145.0,102.0,70.6,6329.7,113.0,NaN
4,2018-03-08,109.7,115.1,105.1,59.1,300.5,107.2,108.7,108.8,31.2,...,116.5,180.5,105.4,58.7,138.4,88.7,70.3,5840.0,104.6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,2024-09-20,96.6,64.5,63.9,115.1,75.1,79.8,65.8,84.1,108.9,...,707.8,61.8,129.5,72.9,66.8,178.6,75.8,0.2,60.1,[note 1] [This note applies to AD353]
346,2024-09-27,93.2,64.8,64.6,90.5,72.6,78.0,60.6,87.4,95.9,...,659.5,63.5,131.1,71.8,69.2,163.0,74.9,0.2,58.2,[note 1] [This note applies to AD354]
347,2024-10-04,96.8,69.1,64.3,105.2,70.1,78.7,76.8,91.6,111.9,...,737.4,65.3,135.1,73.4,73.7,168.9,92.7,0.2,58.9,[note 1] [This note applies to AD355]
348,2024-10-11,95.3,68.2,62.4,101.3,69.1,77.9,74.4,92.2,117.9,...,716.3,64.4,148.0,73.2,68.1,157.7,128.4,0.2,58.0,[note 1] [This note applies to AD356]
349,2024-10-18,92.6,57.1,52.9,111.6,60.1,75.0,63.2,83.6,103.4,...,740.0,49.3,139.0,73.0,67.8,155.4,89.4,0.2,58.2,[note 1] [This note applies to AD357]

__Final dataset of hte Job Market after Covid-19__

In [10]:
# removing the records which holds the null values
JobCategory_df=JobCategory_df.dropna()
# dropping the unncessary columns
JobCategory_df=JobCategory_df.drop(['Notes','Unknown'],axis=1)

# scaling the column e.g. 120.8 as 12,080
cols=['Date']
# storing the column into another df to retrieve in the end
unscale_cols=JobCategory_df[cols]

# dropping the date column
JobCategory_df.drop(columns=unscale_cols,inplace=True)
# scaling the remaining columns
JobCategory_df=JobCategory_df*100

# insert date column back to first position
JobCategory_df.insert(0, 'Date', unscale_cols)

JobCategory_df

,Date,All industries,Accounting / Finance,Admin / clerical / secretarial,Catering and hospitality,Charity / voluntary,Construction / trades,Creative / design / arts & media,Customer service / support,Domestic help,...,Marketing / advertising / PR,Other / general,Part-time / weekend,Property,Wholesale and retail,Sales,Scientific / QA,Transport / logistics / warehouse,Travel / tourism,Healthcare and Social care
6,2018-03-22,12100.0,11310.0,11640.0,6640.0,30760.0,12220.0,12800.0,12170.0,3970.0,...,13290.0,719410.0,11580.0,19170.0,10830.0,6830.0,14090.0,10500.0,7830.0,9870.0
8,2018-04-05,11730.0,11020.0,11160.0,6770.0,30370.0,11870.0,12460.0,11270.0,4450.0,...,10320.0,734730.0,11390.0,18410.0,10310.0,6610.0,13450.0,10460.0,7290.0,9280.0
31,2018-09-13,12000.0,10800.0,13270.0,12500.0,32780.0,14640.0,12670.0,13370.0,16300.0,...,9800.0,701950.0,1770.0,18400.0,14730.0,5890.0,13540.0,15950.0,7790.0,7840.0
33,2018-09-27,12290.0,10950.0,13560.0,12520.0,35740.0,14300.0,12680.0,13800.0,16840.0,...,9770.0,749530.0,1800.0,19260.0,15770.0,6040.0,13670.0,16190.0,8060.0,8160.0
44,2018-12-14,11310.0,10890.0,12680.0,9370.0,27080.0,12370.0,10910.0,11540.0,11820.0,...,9730.0,638220.0,1830.0,18410.0,13370.0,6020.0,12830.0,12740.0,8240.0,7300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,2024-09-20,9660.0,6450.0,6390.0,11510.0,7510.0,7980.0,6580.0,8410.0,10890.0,...,5490.0,13000.0,70780.0,6180.0,12950.0,7290.0,6680.0,17860.0,7580.0,6010.0
346,2024-09-27,9320.0,6480.0,6460.0,9050.0,7260.0,7800.0,6060.0,8740.0,9590.0,...,5290.0,12050.0,65950.0,6350.0,13110.0,7180.0,6920.0,16300.0,7490.0,5820.0
347,2024-10-04,9680.0,6910.0,6430.0,10520.0,7010.0,7870.0,7680.0,9160.0,11190.0,...,5430.0,13090.0,73740.0,6530.0,13510.0,7340.0,7370.0,16890.0,9270.0,5890.0
348,2024-10-11,9530.0,6820.0,6240.0,10130.0,6910.0,7790.0,7440.0,9220.0,11790.0,...,5190.0,12450.0,71630.0,6440.0,14800.0,7320.0,6810.0,15770.0,12840.0,5800.0
349,2024-10-18,9260.0,5710.0,5290.0,11160.0,6010.0,7500.0,6320.0,8360.0,10340.0,...,4700.0,12030.0,74000.0,4930.0,13900.0,7300.0,6780.0,15540.0,8940.0,5820.0

In [ ]:
# saving the file into the directory
directory='CleanedData/'
filepath=os.path.join(directory,'JobCategory.csv')
if not os.path.exists(directory):
    os.makedirs(directory)

JobCategory_df.to_csv(filepath,index=False)
JobCategory_df

,Date,All industries,Accounting / Finance,Admin / clerical / secretarial,Catering and hospitality,Charity / voluntary,Construction / trades,Creative / design / arts & media,Customer service / support,Domestic help,...,Marketing / advertising / PR,Other / general,Part-time / weekend,Property,Wholesale and retail,Sales,Scientific / QA,Transport / logistics / warehouse,Travel / tourism,Healthcare and Social care
6,2018-03-22,12100.0,11310.0,11640.0,6640.0,30760.0,12220.0,12800.0,12170.0,3970.0,...,13290.0,719410.0,11580.0,19170.0,10830.0,6830.0,14090.0,10500.0,7830.0,9870.0
8,2018-04-05,11730.0,11020.0,11160.0,6770.0,30370.0,11870.0,12460.0,11270.0,4450.0,...,10320.0,734730.0,11390.0,18410.0,10310.0,6610.0,13450.0,10460.0,7290.0,9280.0
31,2018-09-13,12000.0,10800.0,13270.0,12500.0,32780.0,14640.0,12670.0,13370.0,16300.0,...,9800.0,701950.0,1770.0,18400.0,14730.0,5890.0,13540.0,15950.0,7790.0,7840.0
33,2018-09-27,12290.0,10950.0,13560.0,12520.0,35740.0,14300.0,12680.0,13800.0,16840.0,...,9770.0,749530.0,1800.0,19260.0,15770.0,6040.0,13670.0,16190.0,8060.0,8160.0
44,2018-12-14,11310.0,10890.0,12680.0,9370.0,27080.0,12370.0,10910.0,11540.0,11820.0,...,9730.0,638220.0,1830.0,18410.0,13370.0,6020.0,12830.0,12740.0,8240.0,7300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,2024-09-20,9660.0,6450.0,6390.0,11510.0,7510.0,7980.0,6580.0,8410.0,10890.0,...,5490.0,13000.0,70780.0,6180.0,12950.0,7290.0,6680.0,17860.0,7580.0,6010.0
346,2024-09-27,9320.0,6480.0,6460.0,9050.0,7260.0,7800.0,6060.0,8740.0,9590.0,...,5290.0,12050.0,65950.0,6350.0,13110.0,7180.0,6920.0,16300.0,7490.0,5820.0
347,2024-10-04,9680.0,6910.0,6430.0,10520.0,7010.0,7870.0,7680.0,9160.0,11190.0,...,5430.0,13090.0,73740.0,6530.0,13510.0,7340.0,7370.0,16890.0,9270.0,5890.0
348,2024-10-11,9530.0,6820.0,6240.0,10130.0,6910.0,7790.0,7440.0,9220.0,11790.0,...,5190.0,12450.0,71630.0,6440.0,14800.0,7320.0,6810.0,15770.0,12840.0,5800.0
349,2024-10-18,9260.0,5710.0,5290.0,11160.0,6010.0,7500.0,6320.0,8360.0,10340.0,...,4700.0,12030.0,74000.0,4930.0,13900.0,7300.0,6780.0,15540.0,8940.0,5820.0